include README.md
include data/
include data
include data/sql_scripts/create_table/create_football_match_table_if_not_exists.sql
include connector/data/
include connector/data
include connector/data/sql_scripts/create_table/create_football_match_table_if_not_exists.sql